name: geochem
channels:
  - conda-forge
dependencies:
  - python=3.11
  - numpy
  - pandas
  - pip
  - pip:
      - dash>=2.17.0
      - dash-bootstrap-components>=1.6.0
      - plotly>=5.22.0
      - openpyxl>=3.1.0
